html * {
    font-family: 'Roboto', arial;
  }

/* header */
header{
    background-color: rgb(6, 67, 27);
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    border: 3px solid black;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* border: 5px solid black; */
}
.nav-logo{
    margin-left: 150px;
}
.nav-right{
    margin-right: 150px;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 40px;
}

a{
    text-decoration: none;
    color: white;
}

/* mid first */
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.mid-first-background{
    background-color: rgb(6, 67, 27);
    width: 100%;
}

.mid-first{
    color: white;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: 200px;
    gap: 150px;
}
.mid.first-left{
    font-size: 20px;
}

.sign-up-btn{
    height: 30px; 
    width: 100px;
    font-size: large;
    color: rgb(6, 67, 27);
}

.mid-second{
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-inline: 200px;
    gap: 40px;
}

.mid-second > .img-text{
    display: flex;
    gap: 60px;
}
.indiv-text-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    font-weight: bold;
}

.mid-third{
    background-color: gainsboro;
    width: 100%;
    height: 200px;
    padding-inline: 200px;
    padding-top: 75px;
    text-align: center;
    text-justify: auto;
    font-size: 20px;
}

footer{
    background-color: white;
    height: 200px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-footer-box{
    background-color: rgb(6, 67, 27);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    width: 900px;
    height: 100px;
    border-radius: 10px;
}

button{
    border-radius: 20px;
    border-color: rgb(6, 67, 27);
}

.footer-btn{
    height: 30px; 
    width: 100px;
    font-size: large;
    color: rgb(6, 67, 27);
}

.mid.first-right > img, .indiv-text-img > img{
    border-radius: 10px;
    border:1px solid blue ;}
/* *{border:1px solid black;} */