header{
    display: flex;
    justify-content: space-around;
    background-color: darkblue;
    margin: 0;
    padding: 0;
    align-items: center;
}
header > ul{
    display: flex;
    gap: 20px;
}
header > ul > li{
    list-style-type: none;

}
a{
    text-decoration: none;
    color: white;
}
.mid-first{
    display: flex;
    background-color: darkblue;
    gap: 200px;
    padding-inline: 80px;
    padding-block: 80px;
}
.img-text{
    display: flex;
    padding-inline: 80px;
    justify-content: center;
    justify-content: space-around;
}

.mid-second{
    padding-block: 80px;
}
.mid-second > h2{
    text-align: center;
    
}
.indiv-text-img {
    text-align: justify;
    width: 100px;
}

.indiv-text-img img {
    display: block;
    margin: 0 auto;
}



.mid-third{
    padding-block: 80px;
    padding-inline: 80px;
    font-weight: 900;
    font-size: x-large;
    background-color: gainsboro;
}

footer > .inner-footer-box{
    display: flex;
    justify-content: center;
    padding-block: 80px;
    background-color: aqua;
    width: 500px;
    height: 50px;
}